@import "mixins";
@import "variables";

body {
  font-size: 18px;
  line-height: 24px;
}

h1 {
  letter-spacing: -0.01em;
  font-size: 42px;
  line-height: 44px;
  margin-bottom: map-get($spacers, 5);

  @include media-breakpoint-up(md) {
    font-size: 72px;
    line-height: 70px;
    margin-bottom: map-get($spacers, 6);
  }
  @include media-breakpoint-up(lg) {
    font-size: 110px;
    line-height: 110px;
    margin-bottom: map-get($spacers, 7);
  }
}

h2 {
  letter-spacing: -0.01em;
  font-size: 36px;
  line-height: 40px;
  margin-bottom: map-get($spacers, 4);

  @include media-breakpoint-up(md) {
    font-size: 52px;
    line-height: 48px;
    margin-bottom: map-get($spacers, 5);
  }
  @include media-breakpoint-up(lg) {
    font-size: 68px;
    line-height: 80px;
    margin-bottom: map-get($spacers, 6);
  }
}

h3 {
  letter-spacing: -0.01em;
  font-size: 22px;
  line-height: 26px;

  @include media-breakpoint-up(md) {
    font-size: 32px;
    line-height: 32px;
  }
  @include media-breakpoint-up(lg) {
    font-size: 40px;
    line-height: 48px;
  }
}

h4 {
  letter-spacing: -0.01em;
  font-size: 22px;
  line-height: 26px;

  @include media-breakpoint-up(md) {
    font-size: 32px;
    line-height: 32px;
  }
  @include media-breakpoint-up(lg) {
    font-size: 40px;
    line-height: 48px;
  }
}

button {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
}

label {
  font-style: normal;
  font-weight: normal;
  font-size: 1.4rem;
  line-height: 2.2rem;
  text-transform: uppercase;
}
